/* Responsiv Course Info */ /* Responsiv nav menu */

@media only screen and (max-width: 1199px)
{
	#courseInfo 
{
    left: 20%;
    width: 60%;
}
.navbar-default .nav li a 
	{   
    	padding-left: 5rem;
	}
	
	#redBus
	{
		top: 3rem;
	}

#calendar span 
{
    padding-left: 25rem;
}


#calendar #february {
    padding-left: 24rem;
}

#calendar #march {
    padding-left: 26rem;
}

#calendar #april {
    padding-left: 28rem;

}

}

@media only screen and (max-width: 991px)
{
	.navbar-default .nav li a 
	{   
    	padding-left: 1rem;
	}
	
	/* Responsiv Course Info */

	#courseInfo 
	{
	    left: 10%;
	    width: 80%;
	}
	
	#main #information
	{
		left: 0;
	    width: 100%;
	}
	
	#redBus
	{
		top: 4rem;
		width: 15%;
	}
	
	#details 
{
    width: 60%;
    left: 20%;
}

#tableOne {
    left: 10%;
}

#tableTwo {
    left: 52%;
}

#tableThree {
    left: 12%;
}

#tableFour {
    left: 52%;
}

#calendar span {
    padding-left: 17rem;
}

#calendar #february {
    padding-left: 20rem;
}

#calendar #march {
    padding-left: 20rem;
}

#calendar #april {
    padding-left: 22rem;
}

}

@media only screen and (max-width: 840px)
{
header	h1
	{
		font-size: 50px;
	}
	
	#redBus
	{
		top: 4rem;
		width: 15%;
		left: 5rem;
	}
	
	#phonics 
{
    position: absolute;
    top: 8%;
    right: 5%;
    width: 20%;
    height: 16%;
}
}

@media only screen and (max-width: 767px)
{
#icons {
    position: absolute;
    top: 0rem;
    /* bottom: 5rem; */
    left: 0;
    right: 0;
    z-index: 111;
    text-align: center;
    /* width: 40%; */
}

header h1
{
	position: relative;
	top: 1rem;
}

h2
{
	position: relative;
	top: 2rem;
}

#navBar
{
	position: relative;
	top: 2rem;
}

#main #aboutUs 
{
    width: 90%;
    left: 5%;
}

#tableTwo {
    bottom: 23.8rem;
}

.navbar-default .nav li a 
{
	padding-bottom: 2rem;
}
}

@media only screen and (max-width: 750px)
{
	#calendar span {
    padding-left: 15rem;
}

#calendar #february {
    padding-left: 18rem;
}

#calendar #march {
    padding-left: 17rem;
}

#calendar #april {
    padding-left: 20rem;
}
}

@media only screen and (max-width: 735px)
{
	
#redBus 
{
    top: 4rem;
    width: 18%;
    left: 2rem;
}
	
	#phonics 
{
    position: absolute;
    top: 8%;
    right: 1%;
    width: 24%;
    height: 16%;
}
}


@media only screen and (max-width: 716px)
{
#courseInfo 
	{
	    left: 5%;
	    width: 90%;
	}
}

@media only screen and (max-width: 670px)
{
	
	#redBus 
	{
		display: none;
	}
	
	#phonics 
	{
		display: none;
	}	
	
	#details 
	{
    width: 80%;
    left: 10%;
}

#main table {
    width: 25%;
    background-color: #ffffff;
    text-align: center;
}

#tableOne {
    left: 5%;
}

#calendar span {
    padding-left: 12rem;
}

#tableThree {
    left: 7%;
}

#calendar #march {
    padding-left: 14rem;
}
}

@media only screen and (max-width: 638px)
{
#courseInfo 
	{
	    left: 0;
	    width: 100%;
	}
	
	#main #letter 
	{
    width: 100%;
    left: 0;
}

#main #ourApprouch 
{
    width: 100%;
    left: 0;
    padding: 2rem 2rem 2rem 2rem;
}
}

@media only screen and (max-width: 612px)
{
	#main table {
    width: 100%;
}

#tableOne {
    left: 0;
}

#tableTwo {
    left: 0;
    bottom: 0;
    top: 4rem;
}

 #tableThree
 {
	 position: relative;
	 bottom: 1rem;
	 left: 0;
	 top: 3rem;
 }
 
 #tableFour
 {
	position: relative;
	bottom: 0;
	left: 0;	
	top: 6rem;
 }

#calendar p span
{
	position: relative;
	left: 4rem;
	padding: 0;
}

#calendar #february
{
	position: relative;
	top: 28rem;
	padding: 0;
	left: -4rem;
}

#calendar #march {
   position: relative;
   padding: 0;
   top: 4rem;
   left: 5rem;
}

#calendar #april {
   position: relative;
   padding: 0;
   top: 30rem;
   left: 0;
}

 legend
 {
 	top: 7rem;
 }
}

@media only screen and (max-width: 576px)
{
#courseInfo h2
 {
    font-size: 27px;
    text-align: center;
}

	#details 
	{
    width: 100%;
    left: 0;
}

}

@media only screen and (max-width: 470px)
{
	.fb-page
	{
		width: 100%;
	}
}

@media only screen and (max-width: 450px)
{
	header h1
	{
		font-size: 45px;
	}
	
	#main #aboutUs 
{
    width: 100%;
    left: 0;
}
}

@media only screen and (max-width: 407px)
{
	#details 
{
	font-size: 15px   
}
}

@media only screen and (max-width: 347px)
{
	header h1
	{
		font-size: 40px;
	}
	
	#courseInfo h2
 {
    font-size: 24px;
    text-align: center;
}

	#contacts p
{
	font-size: 13px   
}

}

@media only screen and (max-width: 280px)
{
	header h1
	{
		font-size: 35px;
	}
}

@media only screen and (max-width: 249px)
{
	footer
	{
		padding: 10px;
	}
}

@media only screen and (max-height: 681px)
{
	footer
	{
		
	}
}



